/* Environment */
.skin-red-light.env-prod .main-header .navbar,
.skin-red-light.env-dev .main-header .navbar {
  background-color: #1f3c6c;
  /*border-top: 3px solid #3c8dbc;*/
}

.skin-red-light.env-train .main-header .navbar {
  background-color: #d34e51;
  /*border-top: 3px solid #3c8dbc;*/
}

.env-banner {
  background: #cccccc;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  text-transform: uppercase;
  padding: 10px 0;
}

/* Headings */
h1, h2 {
  font-family:'DaxOT-Regular','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

h3 {
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
}

/* Tables */
tr.odd {
  background: #ffffff;
}

tr.even {
  background: #fafcfe;
}

table#table-initiatives,
table#table-improvements {
  font-size: 0.98em;
}

thead tr {
  background: #e3ebf1;
}

.confidential-row {
  /*color: #245591 !important;
  font-weight: bold;*/
  font-style: italic;
}

.phaseCancelled {
  text-decoration: line-through;
  color: #666666;
}

.datatable tfoot {
  display: table-header-group;
}

.datatable tfoot .filter-column {
  width: 100% !important;
}


/* Form inputs */
/*select#directorate,
select#department,
select#business-unit,
select#classification-id {
  color: #999999;
}*/

.select2 {
  width: 100% !important;
}

.chosen-container input {
  font-family: 'Calibri' !important;
  font-size: 14px !important;
  padding: 2px 8px !important;
}

.references-group .input-group {
  margin-top: 5px;
}

.radio label {
  margin-right: 10px;
}

input[type='checkbox'][disabled] + span {
  color: #ccc;
}

.box-comments-no-image .comment-text {
  margin-left: 1px !important;
}

/* Style for jquery-confirm, avoid conflict with AdminLTE */
.jconfirm .jconfirm-box div.content {
  min-height: auto !important;
  padding: 5px !important;
}

.jconfirm .jconfirm-bg.seen {
  opacity: 1 !important;
}

/* Modify for slimscroll */
.box-body {
  padding-left: 13px;
  padding-right: 13px;
}

.box-body.mCustomScrollbar {
  padding-right: 5px;
}

.mCSB_inside>.mCSB_container {
  margin-right: 20px;
}

.mCSB_scrollTools {
  opacity: 0.55 !important;
}


ul.dropdown-menu li.active a {
  background: #859aa8;
}

.badge-init {
  background-color: #4669C2;
}

.badge-imp {
  background-color: #41AE6C;
}


.had-old-ref {
  word-break: break-all;
}

.no-search .select2-search {
  display: none
}

.dropdown-inline .dropdown-header {
  font-size: 14px;
}

h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

/* Buttons */

.btn-blue, .btn-blue:visited {
  background: #3c8dbc;
  border: 1px solid #367fa9;
  color: #ffffff;
}
  .btn-blue:hover, .btn-blue:active { background: #367fa9; color: #ffffff;}

.btn-red, .btn-red:visited {
  background: #b5121b;
  border: 1px solid #8c0d14;
  color: #ffffff;
}
  .btn-red:hover, .btn-red:visited { background: #8c0d14; color: #ffffff;}

.btn-darkblue, .btn-darkblue:active {
  background: #195788;
  border: 1px solid #134165;
  color: #ffffff;
}
  .btn-darkblue:hover, .btn-darkblue:active { background: #134165; color: #ffffff;}

.btn-main {
  font-family:'DaxOT-Medium','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}


/* Nav menu */

nav.navbar .navbar-header {
  padding: 0 20px 0 10px;
}

nav.navbar .navbar-brand {
  background: url('../images/wynlog-logo-33x50.png') no-repeat;
  background-size:  33px 50px;
  background-position: left center;
  padding-left: 40px;
  height: 55px;
  font-family:'DaxOT-Medium','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
}

nav.navbar .navbar-brand span {
  font-family:'DaxOT-Regular','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
}

nav.navbar ul.navbar-nav > li > a {
  line-height: 28px;
}

.content-header > h1 {
  font-family:'DaxOT-Medium','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}



/* min-height above make comment box, reference box empty space */
.box-additional-info-body .box {
  min-height: unset;
}

.box .box-title {
  font-family:'DaxOT-Regular','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.box .box-title .required { /* asterisk for mandatory field */
  font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.box .box-tools .text-info {
  font-size: 1.5em;
}


footer img {
  width: 40px;
  height: 40px;
}

.btn-success {
  background-color: #1c3c72;
  border: 1px solid #1c3c72;
}
.btn-success:hover, 
.btn-success:active, 
.hover.btn-success {
  background-color: #195788;
}

form .btn {
}


/* Button links within table */
.btn-link {
  font-size: 1.5em;
}




table#tbProfile td {
  border-top: 0px;
  padding: 2px 4px 2px 0;
}


/* Print View */
body#print-view {
  font-family: Helvetica,Arial,sans-serif;
}

body#print-view h3 {
  font-size: 20px;
  margin: 4px 0 12px;
}

body#print-view h5 {
  margin: 8px 0 4px;
}

body#print-view th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}


.print-header {
  border-bottom: 2px solid #666666;
}

.print-header h1 {
  font-family:'DaxOT-Medium','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
}

.print-header h1 small {
  font-size: 80%;
}

.print-header span {
  padding-top: 20px;
  margin-top: 20px;
  top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.pie-right-legends {
  position: absolute;
  top: 20px; 
  right: 0; 
  border: 1px solid #cccccc;
  padding: 0.6em;
  margin-right: 2em;
  border-radius: 1em;
  font-size: 0.9em;
}

.pie-right-legends p {
  margin-bottom: 0;
}

#init-counts-pies {
  margin-left: -4em;
}

@media (max-width: 550px) {
  .pie-right-legends {
    position: static;
    text-align: center;
  }
}

.help-block {
  font-size: 13px;
}

.help-block-top {
  margin-top: 8px;
  margin-bottom: 5px;
}

.select-placeholder {
  color: #999;
}

option {
  color: #555;
}

option[disabled] {
  display: none !important;
}


/* User dropdown */
li.no-link,
li.no-link:hover,
li.no-link:focus,
li.no-link:active {
  cursor: default;
  background: inherit;
}

li.no-link a,
li.no-link a:hover,
li.no-link a:focus,
li.no-link a:active {
  cursor: default;
  background: inherit;
}

.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  background-color: #fff !important;
  color: #000 !important;
}
