/*
 * Row with equal height columns
 * --------------------------------------------------
 */

@media (min-width: 990px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .row-eq-height [class*="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .row-eq-height .box {
    height: 100%;
  }
}
