@font-face {
	font-family:'DaxOT-Medium';
	src: url('../fonts/DaxOT-Medium_gdi.eot');
	src: url('../fonts/DaxOT-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DaxOT-Medium_gdi.woff') format('woff'),
		url('../fonts/DaxOT-Medium_gdi.ttf') format('truetype'),
		url('../fonts/DaxOT-Medium_gdi.svg#DaxOT-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'DaxOT-Regular';
	src: url('../fonts/DaxOT-Regular_gdi.eot');
	src: url('../fonts/DaxOT-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DaxOT-Regular_gdi.woff') format('woff'),
		url('../fonts/DaxOT-Regular_gdi.ttf') format('truetype'),
		url('../fonts/DaxOT-Regular_gdi.svg#DaxOT-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
